body {
    background-color: #2f3035;
    color: white;
}

header {
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: center;
}

header div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header form {
    position: absolute;
    margin: auto;
    width: 100%;
}

main {
    background-color: #464850;
    height: auto;
    margin-top: 10px;
    padding: 10px 0;
}

footer {
    height: auto;
    text-align: center;
    color: #464850;
    text-align: center;
}

header a .headlogo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    left: 30px;
}

header .headlogo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    left: 30px;
}

.sidebar {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 8px;
}

header .title {
    font-size: 30px;
    position: absolute;
    left: 130px
}

.search-bar {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: #cac7ff;
    text-align: left;
    width: 90%;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #58629b;
    cursor: pointer;
}

::placeholder {
    color: #cac7ff;
}

.cropfoot {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    float: left;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

.new {
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
}

.eling {
    /*picture frame*/
    width: 100%;
    height: auto;
    display: block;
}

.image-container {
    position: relative;
    display: inline-flex;
    width: 300px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 300px;
    height: 0;
    transition: .5s ease;
}

.image-container:hover .overlay {
    height: 10%;
}

.overlay p {
    color: white;
    font-size: 18px;
    position: bottom;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    text-align: inherit;
}

.image-container:hover:nth-child(2) img {
    content: url(images/test2.webp);
}

.image-container:hover:nth-child(3) img {
    content: url(images/test3.webp);
}

.image-container:hover:nth-child(4) img {
    content: url(images/fb.png);
}

.image-container:hover:nth-child(5) img {
    content: url(images/test5.webp);
}

.image-container:hover:nth-child(6) img {
    content: url(images/test6.webp);
}

.image-container:hover:nth-child(7) img {
    content: url(images/test7.webp);
}

.image-container:hover:nth-child(8) img {
    content: url(images/test8.webp);
}

.image-container:hover:nth-child(9) img {
    content: url(images/test1.webp);
}

.read {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.readp {
    /*picture frame*/
    width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d8dee2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

.button:hover {
    color: white;
}

